* {
  box-sizing: border-box;
}

header {
    display: inline;
    height: 90px;
}

.nav {
    height: 50%;
    width: 100%;
    background-color: #529fb6;
    position: relative;
    box-shadow: 0px 5px #529fb6bb;
  }
  .nav-title button {
    background-color: #529fb6bb;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 16px;
  }

  .nav-title a:link, a:visited {
    background-color: #529fb6bb;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
  }
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > #nav-check {
    display: none;
  }
main {
    margin: 10px 8px;
    text-align: center;
}

.main-profile h1 {
    font-size: 60px;
}
.main-profile h2 {
    font-size: 40px;
}

.contents h3 {
    font-size: 30px;
}

.contents-list p {
    font-size: 24px;
    margin-top: 30px;
  }

.contents-list img {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.contents article {
  font-size: 20px;
}

footer {
    background-color: #0c2b41;
    color: #fff;
    height: 120px;
    padding: 20px 0px 40px 40px;
  }

  footer button {
    background-color: #529fb6bb;
    border: none;
    color: white;
    padding: 10px 24px;
    font-size: 16px
  }

.footer-content {
  text-align: center;
  font-size: 24px;
}
  
  @media (max-width: 5000px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
    }
  
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 15px;
    }
  
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
  
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0;
    }
  
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
  
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0;
    }
  
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(80vh - 50px);
      overflow-y: auto;
    }
  }