*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: hsla(120, 70%, 30%, .8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}