*{
  background-image: url(https://wallpaper.dog/large/11032573.jpg);
}
.header {
text-align: center;
}
.background-img{
  width: 200px;
    height: auto;
}
.header h1{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 20px;
  
}
.profile-suto {
  text-align: center;
  font-size: larger;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.lessons {
    display:inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
  }

.linkedin > img {
    width: 100px;
    height: auto;
    text-align: center;}
.gitlab > img {
      width: 100px;
      height: auto;
      text-align: center;}
.ig > img {
      width: 100px;
      height: auto;
      text-align: center;
    }


.lesson-icon {
  margin: 20px 20px 20px 20px;  
  position:relative ;
      }
@media (max-width:400px) {
.nav > .nav-btn {
display: inline-block;
position: absolute;
right: 0px;
top: 0px;
}

.header img {
  width: auto;
}
}