*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
  scroll-behavior: smooth;
}
.nav{
  background-color: hsla(120, 70%, 30%, .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}
.nav > h1{
  font-size: 3em;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  background-color: hsl(150, 50%, 30%);
  color: hsl(180, 60%, 100%);
  transform: rotate(5deg);
  box-shadow: 3px 4px 10px black;
}

.nav > h1 > a {
  text-decoration: none;
  color:white;
}
#nav-check {
  display: none;
}
.menu-button{
  /* background-color: blue; */
  position: absolute;
  padding: 2.4em;
  right: 0px;
  top: 0px;
  transition: all .5s ease;
}
.menu-button:hover{
  cursor: pointer;
}
.menu-button > span {
  display: block;
  width: 30px;
  height: 10px;
  border-bottom: 4px solid white;
}



.header {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  padding: 1em;
  line-height: 1em;
}
nav{
  width: 100%;
  /* below for responsive */
  height: 0; 
  overflow: hidden;
  transition: all .5s ease;
}

#nav-check:checked ~ nav {
  margin-top: 1em;
  height: 280px;
  background: hsl(150, 70%, 10%);
}

nav > ul {
padding-top: 1em; 
}
nav > ul > li{
 list-style: none;
}
nav > ul > li > a{
  text-align: center;
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
  text-transform:uppercase;
}
nav > ul > li > a:hover{
  background: hsl(120, 20%, 50%);
}
.about{
  width: 100%;
  padding: 8em 2em 2em 2em;
}

.about-text{
  text-align: center;
  margin-bottom: 1em;
}
.about-text > h1{
  font-size: 3em;
}
.about-img{
  border-radius: 20px;
  background-color: hsl(120, 50%, 30%);
  transform: rotate(3deg);
}
.about-img > img{
  width: 100%;
  padding: 1em;
  border-radius: 30px;
  transform: rotate(-3deg);
}

.projects{
  background: hsl(150, 90%, 60%);
  padding: 5em 1em 1em 1em;
}

ul.project-list{
  width: 100%;

}
ul.project-list > li{
  width: 100%;
  list-style: none;
  padding: 1em;
  background-color: hsl(120, 50%, 30%);
  border-radius: 1em;
  box-shadow: 3px 3px 10px black;
}
ul.project-list > li:nth-child(even){
  transform: rotate(2deg);
  margin: 1em 0;
}
ul.project-list > li:nth-child(odd){
  transform: rotate(-2deg);
  margin: 1em 0;
}

ul.project-list > li > a > img{
  width: 100%;
  border-radius: 1em;

}

.acheivements{
  background: hsl(120, 50%, 90%);
  width: 100%;
  padding: 5em 1em 1em 1em;
}
.acheivements > ul {
  width: 100%;
}

.acheivements > ul > li{
  width: 100%;
  padding: 0;
  margin: 1em 0;
  box-shadow: 3px 3px 10px black;
  list-style: none;
}

.acheivements > ul > li >img{
  width: 100%;
}

.videos{
  padding-top: 5em;
  background:hsla(120, 80%, 20%);
}
.videos > header {
  color: white;
}

.videos > ul{
  width: 100%;
}

.videos > ul > li {
  text-decoration: none;
  width: 100%;
  padding: 1em;
}
.videos > ul > li > iframe {
  width: 100%;
  border-radius: 1em;
}


.contact{
  padding-top: 5em;
  background-color: hsl(120, 50%, 70%);
}
.contact > form {
  padding: 1em;
}
.contact > form > *{
  display: block;
  width: 100%;
}

.contact > form > label {
  margin: 1em 0 0.3em;
}

.contact > form > textarea{
  height: 150px;
}
.form-input{
  padding: 1em;
  border-radius: 10px;
  outline: none;
  resize: none;
  border: none;
}

footer{
  width: 100%;
  padding: 1em;
  background: gray;
}
footer > .footer-img{
  width: 300px;
  margin: 1em auto;
  display: block;
  padding: 1em;
  background-color: hsl(150, 70%, 30%);
  border-radius: 1em;
  transform: rotate(2deg);
  box-shadow: 3px 4px 10px black;
}
footer > .footer-img > img{
  width: 100%;
  border-radius: 1em;
  transform: rotate(-4deg);
  box-shadow: 3px 3px 10px black;
}
footer > .footer-text > p {
  margin: 1em 0;
  text-align: center;
}





