html {
    scroll-behavior: smooth;
}

body {
margin : 0px;
}

header {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5); 
    display: flex;
    background-color: rgb(210, 222, 235);
    height: 40px;  
    width: 100%;
    align-items: center;
    position: relative;
   
    
}

header div {
    flex: auto;
}

.header-left {
    margin-left: 10px;
}

header h1 {
    color: rgb(75, 75, 75);
}

.header-right  ul{
    list-style-type: none;   
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}

.header-right li a {
    margin-right: 10px;
    padding: 5px;
    text-decoration: none;
    color :gray;   
}

.header-right li:hover {
    margin-right: 10px;
    background-color: rgba(233, 233, 233, 0.9);  
    color: rgb(39, 39, 39);
    padding : 10px;
    border-radius: 10px;  
}

.top {
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    background-color: rgb(242, 253, 238);
    padding: 40px;
    justify-content: center;
    
}

.top-img img {
    width: 300px;     
    margin-right: 10vw; 
}

.top-text {
    font-size: 15px;
    color: rgb(12, 128, 128);
    
}

.top-text span {
    color: rgb(245, 204, 91);
}

.experience  {
    display: flex;
    padding: 40px 0;
    background-color: rgb(125, 189, 174);
    color: rgb(195, 235, 223);  
    flex-direction: column;
    text-align: center;
    /* margin: -7% auto 20px auto;
    position: relative; */
    
}
.experience h3 {
    margin-top: 80px;
    margin-bottom: 0;     
}

.experience h5 {
    margin-top: 0;
    color:rgb(253, 234, 198);
}

.experience .skills {
    color: rgb(61, 61, 61);
}

.box-skills {
    display: flex;
    justify-content: space-around;
    margin-bottom: 190px;
}

.box-skills .ps {
    padding: 10px;
    background-color: rgb(103, 112, 192);
    border-radius: 10px;
}

.box-skills .ai {
    padding: 10px;
    background-color: rgb(219, 102, 66);
    border-radius: 10px;
    }

.edu {
    background-color: salmon;
    height: 350px;
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -12% auto 20px auto;
    position: relative;
    border-radius: 20px;
}

.edu-box-container  {
    display: flex;
    margin-top: 20px;
    width: 100%;
    justify-content: space-around;
    
}

.edu-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 200px;
    background-color: rgb(247, 216, 114);
    /* margin-right: 20px; */
}

.edu-box h4 {
    margin: 50px auto;
}

.edu-box h6, p {
    margin: 0 auto 0 auto;
    font-size: small;
}

.info {
    height: 150px;
    display: flex;
    flex-direction: column;    
    align-items: center;
    text-align: center;
    margin-top: 0;
}

.info h3 {
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 2px solid gray;
    width: 70%;
    text-align: center;
}

.info a {
    text-decoration: none;
    font-size: 12px;
    display: flex;
}

.info-content {
    display: flex;
    width: 30%;   
    padding: 10px;    
}

.info-content a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
}

.fa {
    margin-right: 5px;
}

footer {
    margin-bottom: 0px;
    height: 40px;
    width: 100%;
    border-top: 1px solid gray;
    display: flex;
    flex-direction: column;
    justify-content: center;   
    text-align: center;
    background-color:rgb(255, 248, 234); 
}

.ftr-img {
    display: flex;
    justify-content: center;
    height: 30px;
}

.flogo {
    height: 30px;
    width :auto;
   
  }