.yogie-video {
  border: 1px solid blue;
  padding: 10px;
  box-shadow: 2px 7px blue;
  width: 100%;
}

.yogie-blue {
  color: blue;
}

#yogie-title-name {
  font-style: italic;
  text-decoration: none !important;
}

p {
  font-weight: bold;
  text-decoration: line-through;
}

.ml-50 {
  /* margin-top: 100px;
  margin-right: 50px;
  margin-bottom: 100px;
  margin-left: 50px; */
  /* margin: 100px 50px 100px 50px; */
  margin: 100px 50px;
}

#yogie-underline {
  text-decoration: underline;
}

#yogie-margin {
  margin-top: 50px;
}

.yogie-container {
  width: 100%;
}
.yogie-navbar-container {
  background-color: #f8f8f8;
  width: 100%;
  position: fixed;
}

.yogie-navbar-items {
  display: flex;
  background-color: #f8f8f8;
}

.yogie-navbar-items h1,
h3 {
  margin-right: 20px;
}

.yogie-iframe {
  /* padding: 50px 100px; */
  /* padding: 50px 100px 50px 100px; */
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 50px;
  padding-left: 100px;
}

.yogie-padding {
  padding: 50px;
}

.yogie-navbar-logo img {
  width: 100px;
}

.yogie-button {
  background-color: transparent;
  font-weight: bold;
  border-radius: 25px;
}

.yogie-button:hover {
  /* hover kalau dia diatas objek */
  background-color: black;
  color: white;
  cursor: pointer;
}

.yogie-input:focus {
  /* pseudoselector jika input fokus */
  color: red;
}

.yogie-inherit > * {
  /* > * inherit ke semua element */
  color: red;
  background-color: teal;
}

.yogie-inherit p {
  text-decoration: none !important;
}

.yogie-input {
  display: block;
}

.yogie-input-radio {
  display: inline;
}

.yogie-footer {
  width: 100%;
  height: 10vh;
  background-color: black;
  color: white;
}

@media (max-width: 900px) {
  /* media querry, mengatur tampilan web lebar layar kurang dari 900px */
  h1 {
    font-size: 20px;
  }
  p {
    font-size: 12px;
  }

  .yogie-navbar-logo img {
    width: 50px;
  }

  .yogie-navbar-items h3 {
    font-size: 14px;
  }
}
