* {
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
  }
    
  li{
    list-style: none;
  }
  h1{
      font-size: xx-large;
  }
    
  #nurd-nav {
    height: 50%;
    width: 100%;
    background-color: #f3f3f3;
    position: relative;
  }
  
  #nurd-nav .nurd-nav-header{
    display: inline;
  }
  
  #nurd-nav .nurd-nav-header .nurd-nav-title{
   display: inline-block;
   padding: 10px;
  }
  
  #nurd-nav .nurd-nav-button{
    display: none;
  }
    
  #nurd-nav .nurd-nav-links{
    display: inline;
    float: right;
    font-size: 19px;
  }
  
  #nurd-nav .nurd-nav-links a{
    display: inline-block;
    padding: 25px 10px;
    text-decoration: none;
    color: black;
  }
  
  #nurd-nav .nurd-nav-links a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  #nurd-nav .nurd-nav-check{
    display: none;
  }
  
  
  #nurd-about{
    text-align: center;
    border-bottom: black 5px;
  }
  
  #nurd-skill{
    text-align: center;
  }
  
  #nurd-video{
    text-align: center;
    margin-bottom: 40px;
  }
  
  #nurd-footer {
    height: 50%;
    width: 100%;
    padding: 10px 2%;
    background-color: #f3f3f3;
    position: relative;
  }
  
  .nurd-footer-sosmed{
    text-align: right;
    padding-top: 120px;
    padding-right: 1%;
  }
  
  footer{
    display: flex;
    justify-content: space-between;
  }
  
  
  /* #nurd-content {
    display: grid;
    height: 100vh;
    grid-gap: 15px;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "about" "skill" "video" "message";
  }
  
  #nurd-content #nurd-about{
    grid-area: about;
  }
  
  #nurd-content #nurd-skill{
    grid-area: skill;
  }
  
  #nurd-content #nurd-video{
    grid-area: video;
  }
  
  #nurd-content #nurd-message{
    grid-area: message;
  } */
  
  
  
  
  /* @media (max-width:600){
    #nurd-nav .nurd-nav-button{
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
  
    #nurd-nav .nurd-nav-button label{
      display: inline-block;
      width: 50px;   
      height: 50px;
      padding:13px;
    }
  
    #nurd-nav .nurd-nav-button label:hover,#nur-nav #nurd-nav-check:checked ~ .nurd-nav-button label{
      background-color: rgba(0, 0, 0, 0.3);
    }
  
    #nurd-nav .nurd-nav-button label span{
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
  
    #nurd-nav .nurd-nav-links{
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
  
    #nurd-nav .nurd-nav-links a{
      display: block;
      width: 100%;
    }
  
    #nurd-nav .nurd-nav-check:not(:checked) ~ .nurd-nav-links{
      height: 0px;
    }
  
    #nurd-nav .nurd-nav-check:checked ~ .nurd-nav-links{
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  
  } */